# copied from https://github.com/XENONnT/straxen/blob/master/.github/workflows/pytest.yml
# Test appletree on each PR.
# We run three types of tests:
#  - Pytest -> these are the "normal" tests and should be run for all
#    python versions
#  - Coveralls -> this is to see if we are covering all our lines of
#    code with our tests. The results get uploaded to
#    coveralls.io/github/XENONnT/appletree
#  - pytest_no_database -> we want to make sure we can run the tests even
#    if we don't have access to our database since this will e.g. happen
#    when someone is pushing a PR from their own fork as we don't
#    propagate our secrets there.

name: Test package

# Trigger this code when a new release is published
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ '3.10', '3.11' ]
        test: [ 'coveralls', 'pytest' ]

    steps:
      # Setup and installation
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest coverage coveralls

      - name: Install Appletree
        run: |
          pip install .

      - name: Test package
        # This is running a normal test
        run: |
          coverage run --source=appletree -m pytest --durations 0
          coverage report

      - name: Coveralls
        # Make the coverage report and upload
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.test == 'coveralls'
        run: |
          coverage run --source=appletree -m pytest -v
          coveralls --service=github

      - name: goodbye
        run: echo "tests done, bye bye"
